<header class="header group">
    <h1 class="header-logo">
      facebook
    </h1>

  <form class="login" action="<%=session_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

    <ul class="login-list group">
        <li class="form-email"> <label id="form-email">Email</label>
          <input id="form-email" type="email" name="user[email]" value="">
        </li>

        <li class="form-password"> <label id="form-password">Password</label>
          <input id="form-password" type="password" name="user[password]" value="">
        </li>

        <li class="form-login">
          <button>Log In</button>
        </li>
    </ul>
  </form>
</header>

<main class="content group">
  <section class="content-introduction">

  </section>

  <section class="content-signup">
    <h1 class="signup-logo">Sign Up</h1>
    <form class="signup" action="<%=users_url%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

      <ul class="signup-list group">
          <li class="form-email"> <label id="form-email">Email</label>
            <input id="form-email" type="email" name="user[email]" value="">
          </li>

          <li class="form-password"> <label id="form-password">Password</label>
            <input id="form-password" type="password" name="user[password]" value="">
          </li>

          <li class="form-signup">
            <button class="signup-button">Sign Up</button>
          </li>
      </ul>
    </form>
  </section>

</main>
