<header class="header">
  <nav class="header-nav group">

    <h1 class="header-logo">
      <a href="#/feed">facebook</a>
    </h1>

    <ul class="header-nav-links group">
      <li><a href="#/feed">Home</a></li>
      <li><a href="#/users/<%=Herobook.Models.currentUser.escape('id')%>"><%=Herobook.Models.currentUser.escape('first_name')%></a></li>
      <li><a id="account-nav" data-link='.account-nav-links'>Account</a>
            <ul class="account-nav-links hidden group">
              <li><a class="logout">Logout</a></li>
            </ul>
      </li>
    </ul>

  </nav>
</header>

<div class="content-search"> </div> 


<main class="content-newsfeed group">

  <section class="content-newsfeed-sidebar">
  </section>


  <section class="content-newsfeed-main group">
    <div id="post-form-area"></div>
<<<<<<< HEAD
    <section class="feed-items"></section>
=======
    <div class="feed-items"></div>
>>>>>>> posts
  </section>

</main>
