<header class="header">
  <nav class="header-nav group">

    <h1 class="header-logo">
      <a href="#/newsfeed">facebook</a>
    </h1>



    <ul class="header-nav-links group">
      <li><a href="#/newsfeed">Home</a></li>
      <li><a href="#/users/<%=user.id%>">Profile</a></li>
      <li><a href="#">Account</a></li>
    </ul>

  </nav>
</header>

<section class="content-search"> </section>


<main class="content-newsfeed group">

  <section class="content-newsfeed-sidebar">
    <h1> User: <%=user.escape('email')%> </h1>
  </section>


  <section class="content-newsfeed-main group">
    <section id="post-form"></section>

    <h1>Feed</h1>
      <ul class="feed-items"></ul>
  </section>

</main>
