<h1> <%=user.escape('email')%>'s Profile Page </h1>
<% if(FacebookApp.Models.currentUser.get('id') !== user.get('id')) { %>
  <button class="request-friend">Add Friend</button>
<% } %>
<br>
<br>
<br>
<br>
<label>Friend Requests
  <ul>
  <% if (FacebookApp.Collections.users !== undefined) { %>
    <%user.requests().each(function(request) {%>
      <li> <%=FacebookApp.Collections.users.get(request.get('requestor_id')).escape('email')%> </li>
    <% }); %>
    <% } %>
  </ul>
</label>
<br>
<br>
<section id="post-form">
</section>
<br>
<br>
<br>
<label>Ghetto News Feed:
  <section id="posts">
  </section>
</label>
