<h1> <%=user.escape('email')%>'s Profile Page </h1>
<section id="request-buttons"></section>
<br>
<br>
<br>
<br>
Friend Requests:
  <ul id="friend-requests"></ul>
<br>
<br>
<section id="post-form"></section>
<br>
<br>
<br>
Wall:
  <ul id="posts"></ul>
<br>
<br>
Friend List:
  <ul id="friend-list"></ul>
