<header class="header group">
  <h1 class="header-logo"> <a href="#/newsfeed">facebook</a></h1>

  <section class="header-nav group">
    <ul class="header-nav-links group">
        <li class="home">
          <a href="#/newsfeed">Home</a>
        </li>

        <li class="profile">
          <a href="#/users/<%=FacebookApp.Models.currentUser.get('id')%>">Profile</a>
        </li>

        <li class="account">
          <a href="#">Account</a>
        </li>
    </ul>
  </section>
</header>

<main class="content group">
  <section class="content-sidebar group">
    <h1> <%=user.escape('email')%>'s Profile Page </h1>
    <section class="request-buttons"></section>

      Friend Requests:
      <ul class="friend-requests"></ul>


      Friend List:
      <ul class="friend-list"></ul>

    </section>
  <section class="content-main group">


    <section class="wall">
      <section id="post-form"></section>
      <label for="posts">"Wall"</label>
        <br>
        <br>
        <ul id="posts"></ul>
    </section>
  </section>

</main>
