<header class="header group">

  <nav class="header-nav group">
    <h1 class="header-logo">
      <a href="#/feed">facebook</a>
    </h1>

    <ul class="header-nav-links group">
        <li class="home">
          <a href="#/feed">Home</a>
        </li>

        <li class="profile">
          <a href="#/users/<%=FacebookApp.Models.currentUser.get('id')%>">Profile</a>
        </li>

        <li class="account">
          <a href="#">Account</a>
        </li>
    </ul>
  </section>
</header>

<section class="content-search"> </section>

<main class="content-profile group">
    <section class="content-profile-sidebar group">
      <h1> <%=user.escape('email')%>'s Profile Page </h1>
      <section class="request-buttons"></section>

      <ul class="content-profile-sidebar-links">
        <li class="wall-tab"> <a data-tab=".wall">Wall</a> </li>
        <li class="about-tab"> <a data-tab=".about">About</a> </li>
        <li> <a href="#/users/<%=user.get('id')%>/info">Friends</a> </li>
        <li> <a href="#/users/<%=user.get('id')%>/info">Photos</a> </li>
      </ul>


        Friend Requests:
        <ul class="friend-requests"></ul>
        <br>
        <br>
        Friend List:
        <ul class="friend-list"></ul>

    </section>

  <section class="content-profile-main group">

    <section class="wall">
      <section id="post-form"></section>
      <label for="posts">"Wall"</label>
        <br>
        <br>
        <ul class="posts"></ul>
    </section>


  </section>

</main>
