<li>
  <%= comment.escape('body') %>
  <br>
  Added by: <%= comment.get('author').email %>
  <br>
  <%= comment.likes().length %>
  <br>
  <% if(comment.get('likeStatus') === 'unliked') {%>
    <button class="like-comment">Like Comment</button>
  <% } else{ %>
    <button class="unlike-comment">Unlike Comment</button>
  <% } %>

  <button class="delete-comment" data-id="<%= comment.get('id') %>">Remove Comment</button>
</li>
