<input type="text" name="post[body]" placeholder="What's on your mind?">

<button class="add-post"><%= FacebookApp.Models.currentUser !== null && user.get('id') === FacebookApp.Models.currentUser.get('id') ? "Share" : "Post" %> </button>
