<% if(post.get('receiver_id') === user.get('id')) { %>
  <li>
    <%= post.escape('body') %>
    <br>
    Added by: <%= post.escape('email') %>
    <button class="delete-post" data-id="<%= post.get('id') %>">Delete Post</button>
    <ul id="comments"></ul>
    <div id="comment-form"></div>
  </li>
<% } %>
