<% if(post.get('receiver_id') === user.get('id')) { %>
  <li>
    <%= post.escape('body') %>
    <br>
    Posted by: <a href="#/users/<%=post.get('author_id')%>"> <%= post.get('author').email %> </a>
    <button class="delete-post" data-id="<%= post.get('id') %>">Delete Post</button>
    <ul id="comments"></ul>
    <div id="comment-form"></div>
  </li>
<% } %>
