  <li>
    <div class="post-body">
      <a href="#/users/<%=post.get('author_id')%>"> <%= post.get('author').email %> </a>
      <%= post.escape('body') %>
    </div>
    <button class="delete-post" data-id="<%= post.get('id') %>">Remove</button>
    <ul id="comments"></ul>
    <div class="comment-form group"></div>
    <br>
    <br>
  </li>
