<h1> Sign Up Page </h1>

<form class="" action="<%=users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label>Email
  <input type="text" name="user[email]" value="">
  </label>
  <br>
  <label>Password
  <input type="text" name="user[password]" value="">
  </label>
  <button>Sign Up</button>
</form>
