<li class="acceptance-feed-item" data-sort='<%=item.get('myDate')%>'>
  <%= item.get('requestor').email %> and <%= item.get('requestee').email %> are now friends

  <div class="acceptance-created-at"> <%= item.get('myDate') %> </div>

</li>
