/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";


 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 /* --- ELEMENTS --- */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.1666666666666;
  background: #d4dae8;
  background-image: image-url('universe.jpg');
}

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input,
 button,
 textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   clear: both;
   display: block;
 }


 .hidden {
  display: none;
}

 .disappeared {
  opacity: 0;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


/* header and nav bar */

 .header {
   background: #3B5998;
   padding-top: 10px;
 }

 .header-nav {
   width: 900px;
   margin: 0 auto;
 }

 .header-logo {
   float: left;
   margin-left: 20px;
   color: white;
   font-size: 30px;
   font: klavika;
   font-weight: 500;
 }

 .header-nav-links {
  float: right;
  margin-top: 9px;
  color: white;
  margin-right: -19px;
 }

.header-nav-links li {
 font-size: 14px;
 background: #3B5998;
 float: left;
 margin-right: 21px;
}

.header-nav-links li a{
 cursor: pointer;
}

.notification-area {
  bottom: 3px;
  position: relative;
}

.notification-count {
  display: inline-block;
  background: rgb(231, 44, 44);
  border-radius: 46%;
  padding: 3px;
}

.notifications {
  position: absolute;
  display: none;
  background: white;
  width: 200px;
  color: black;
  border: solid 1px black;
  z-index: 10;
  padding-left: 9px;
}

.notifications article {
  padding: 10px 0;
}

.notifications article:not(:last-child){
  border-bottom: solid 1px black;
}

.notification-area:hover .notifications{
  display: block;
}

.notifications article a {
  color: #3b5998;
  font-weight: 600;
}

.notifications .notification-body {
  margin: 5px auto;
  font-style: italic;
}

.notifications .view-notification-post {
  margin-top: 7px;
  color: #1559D2;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
}

.notifications .view-notification {
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
}

 #account-nav {
  position: relative;
 }

.account-nav-links {
  margin-top: 10px;
  position: absolute;
  width: 160px;
}

.account-nav-links li {
  background: white;
  color: #3B5998;
  font-weight: 600;
  padding: 4px 0;
  border: 1px solid #6b727c;
  cursor: pointer;
  width: 110px;
}

.account-nav-links li:hover {
  background: lightgrey;
}

.content-newsfeed {
  width: 900px;
  margin: 0 auto;
}

.content-newsfeed-sidebar {
  float: left;
  width: 200px;
}

.content-newsfeed-main {
  width: 650px;
  float: right;
  margin-top: 35px;
}

/* New session */ 
.errors {
  background: rgb(107, 117, 131);
  color: white;
}

.header-login {
  background: #3B5998;
  padding-top: 12px;
  border: solid 1px;
}

.header-login-nav {
  width: 900px;
  margin: 0 auto;
}

.header-login-logo {
  float: left;
  margin-left: 20px;
  color: white;
  font-size: 30px;
  font: klavika;
  font-weight: 800;
  margin-top: 12px;
  padding-bottom: 8px;
}

.login {
  float: right;
}

.login-list li {
  background: #3B5998;
  float: left;
}

.form-email {
  font-size: 14px;
  width: 50px;
  margin-right: 110px;
  height: 20px;
}

.form-password {
  font-size: 14px;
  width: 50px;
  margin-right: 110px;
  height: 20px;
}

.form-login {
  margin-right: 10px;
  height: 20px;
}

label #form-email {
  color: white;
  font-family: "Times New Roman", Times, serif;
}

label #form-password {
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.login-list input {
  border: solid 1px black;
  background: white;
}

.form-login button {
  background: dodgerblue;
  padding: 3px;
  font-size: 12px;
  color: white;
  border: solid 1px black;
  margin-top: 14px;
  cursor: pointer;
}

.guest-login {
  float: right;
}

.guest-login-button {
  position: relative;
  left: 458px;
  background: dodgerblue;
  padding: 3px;
  font-size: 12px;
  font-weight: 800;
  color: white;
  border: solid 1px black;
  margin-top: 14px;
  cursor: pointer;
}

/* // Sign Up
 */
.content-login {
  margin: 0 auto;
  width: 900px;
}

.content-introduction {
  float: left;
}

.content-introduction .intro {
  top: 80px;
  position: relative;
  font-size: 21px;
  left: -53px;
  font-style: italic;
  font-weight: 600;
}

.content-signup {
  margin-top: 15px;
  float: right;
  margin-right: -160px;
}

.signup-logo {
  font-size: 40px;
  font-weight: 500;
}

.signup-list li {
  margin-bottom: 40px;
}

#input-first-name {
  width: 175px;
  position: relative;
  top: 35px;
  right: 88px;}

#input-last-name {
  position: relative;
  width: 175px;
  top: 35px;
  right: 163px;
}

#label-last-name {
  position: relative;
  right: 78px;
}

.content-signup input {
  font-size: 30px;
  background: white;
  border-radius: 10%;
  border: solid 1px #3B5998;
}

.content-signup .signup-button {
  margin-top: 20px;
  color: white;
  font-weight: 600;
  background: forestgreen;
  padding: 5px 50px 5px 50px;
  border-radius: 10%;
  border: solid 1px black;
  cursor: pointer;
}


/*
Users
 */


/*Search*/
.content-search {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.users-search {
  position: absolute;
  left: 250px;
  top: -38px;
}

.content-search input {
  background: white;
  border: solid 1px black;
  border-radius: 5%;
  position: relative;
  left: 91px;
  top: 5px;
  padding: 7px;
  font-size: 15px
}

.users-search-results {
  position: relative;
  top: 6px;
  left: 91px;
}

.content-search li {
  background: white;
  padding-top: 5px;
  padding-left: 5px;
}

.content-search li {
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.content-search li a {
  display: block;
}

.content-search li:hover {
  background: grey;
  padding-top: 5px;
}
/*Profile*/

.content-profile-body {
  width: 100%;
  height: 100%;
  background: white;
}

.content-profile {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.content-profile-sidebar {
  float: left;
  width: 200px;
  margin-top: 30px;
}

.content-profile-sidebar-links {
  float: left;
  width: 190px;
  background: white;
  font-weight: 700;
  border-radius: 5%;
  padding: 5px;
  margin-top: 10px;
}

.content-profile-sidebar h1{
  text-align: left;
  float: left;
}

.content-profile-sidebar-links li {
  padding: 11px 0;
}

.content-profile-sidebar-links li:not(:last-child) {
  border-bottom: solid 1px black;
}

.content-profile-sidebar-links li:hover {
  background: #eceff6;
}

.content-profile-sidebar-links li a {
  display: block;
}

.content-profile-main {
  width: 650px;
  float: right;
  margin-bottom: 60px;
  margin-top: 25px;
}

.home {
  font-size: 14px;
  width: 50px;
  margin-right: 110px;
}

.profile {
  font-size: 14px;
  width: 50px;
  margin-right: 110px;
}

.cover-photo {
  width: 900px;
  height: 250px;
  margin: 0 auto;
}

.profile-photo {
  width: 200px;
  height: 200px;
  position: relative;
  top: 80px;
  border-radius: 3%;
}

.change-profile-photo {
  top: 180px;
  left: 5px;
}

.change-cover-photo {
  position: relative;
  float: right;
  bottom: 27px;
  right: 5px;
}

.profile-name {
  font-size: 34px;
  font-weight: 700;
  margin-left: 220px;
}

.profile-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.account {
  font-size: 14px;
  margin-right: 70px;
}

.wall {
  margin-bottom: 100px;
}

.wall label {
}

.posts .post-feed-item{
  position: relative;
  background: white;
  margin-top: 40px;
  border: solid 1px grey;
  transition: opacity 1s;
}

.friend-requests-label {
  margin-top: 20px;
  margin-bottom: 10px;
}
.friend-requests {
  margin-bottom: 5px;
}

.friend-requests li {
  margin-bottom: 15px;
}

.friend-requests a {
  color: #1E1191;
  font-weight: 600;
}

/*About User*/

#about-list li {
  margin-bottom: 20px;
}

#about-list .field{
  background: white;
  padding: 2px;
  border: solid 1px darkblue;
}

#about-list textarea {
  background: white;
  padding: 2px;
}

.save {
  color: white;
  background: #3b5998;
  padding: 3px;
}

/*Friends show*/
.friend-show {
  display: inline-block;
  padding-left: 50px;
  padding-bottom: 35px;
  width: 250px;
}



/* Posts */

.form-post {
  width: 639px;
}

.form-post input {
  width: 100%;
  background: white;
  border: solid 1px #8b9dc3;
  padding: 5px;
}

.add-post {
  color: white;
  background: #3b5998;
  float: right;
  padding: 5px;
  position: relative;
  left: 11px;
}

/* Feed show items (including post and acceptance)*/
.feed-items .post-feed-item {
  border-top: solid 1px grey;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  padding-top: 10px;
  background: white;
  margin-top: 40px;
  transition: opacity 1s;
}

.post-content {
  margin-top: 15px;
  font-weight: 700;
}

.feed-items .acceptance-feed-item {
  border: solid 1px grey;
  padding: 8px;
  margin: 40px auto;
  background: white;
  transition: opacity 1s;
}

.acceptance-feed-item a {
  color: #3b5998;
  font-weight: 600;
}

.acceptance-feed-item .delete-acceptance {
  float: right;
  padding: 0;
  opacity: 0.2;
  transition: opacity 0.5s;
}

.acceptance-feed-item .delete-acceptance:hover {
  cursor: pointer;
  opacity: 1;
}

.feed-items h1 {
  font-weight: 800;
  margin-bottom: 15px;
  margin-left: 15px;
  width: 620px;
  padding-bottom: 10px;
  border-bottom: solid 1px #989898;
}

.feed-items h1 a {
  color: #3b5998;
  font-weight: 600;
}

.post-body {
  width: 620px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.post-body a {
  color: #3b5998;
  font-weight: 600;
}

.delete-post {
  font-size: 12px;
  background: #3b5998;
  color: white;
  font-weight: 500;
  padding: 3px;
  margin-bottom: 3px;
}


.like-post {
  background: #3b5998;
  padding: 2px;
  font-size: 12px;
  color: white;
  border: solid 1px black;
  margin-top: 14px;
  cursor: pointer;
}

.unlike-post {
  background: #3b5998;
  padding: 2px;
  font-size: 12px;
  color: white;
  border: solid 1px black;
  margin-top: 14px;
  cursor: pointer;
}

.post-likes-count {
  position: relative;
  top: 9px;
  font-size: 13px;
}

/* Comments */


.comments .comment {
  background: #eceff6;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  border-top: solid 1px grey;
}

.comment-body {
  display: inline-block;
}

.comment-added-by {
  font-size: 12px;
  margin-top: 10px;
}

.comments .comment a {
  color: #3b5998;
  font-weight: 600;
}

.form-comment {
  background: #eceff6;
  margin: 0 auto;
}

.comment-form {
  border: solid 1px grey;
}

.form-comment input{
  width: 545px;
  margin-left: 18px;
  position: relative;
  bottom: 10px;
  padding: 5px;
  background: white;
  border: solid 1px grey;
  border-radius: 5%;
  z-index: 1;
}

.form-comment .add-comment {
  font-size: 13px;
  color: white;
  background: #3b5998;
  padding: 3px;
  margin-left: 567px;
  margin-bottom: 6px;
}

.like-comment {
  background: #3b5998;
  padding: 2px;
  font-size: 12px;
  color: white;
  border: solid 1px black;
  cursor: pointer;
  bottom: 15px;
}

.unlike-comment {
  background: #3b5998;
  padding: 2px;
  font-size: 12px;
  color: white;
  border: solid 1px black;
  cursor: pointer;
  bottom: 15px;
}

.delete-comment {
  background: #3b5998;
  padding: 2px;
  font-size: 12px;
  color: white;
  border: solid 1px black;
  cursor: pointer;
  bottom: 15px;
}

.comment-likes-count {
  font-size: 13px;
}

/* Requests */

.request-buttons {
  margin-top: 5px;
}

label {
  font-weight: 600;
}

.remove-friend {
  background: #3b5998;
  color: white;
  padding: 3px 4px;
  border-radius: 8%;
}

.request-friend {
  background: #3b5998;
  color: white;
  padding: 3px 4px;
  border-radius: 8%;
}

.accept-friend {
  background: #3b5998;
  color: white;
  padding: 3px 4px;
  border-radius: 8%;
}

.decline-friend {
  background: #3b5998;
  color: white;
  padding: 3px 4px;
  border-radius: 8%;
}

/*Post Modal*/
.post-modal {
    position: fixed;
    width: 655px;
    right: 0;
    top: 75px;
    left: 289px;
    background: rgb(255, 255, 255);
    border: solid 2px gray;
    overflow-y: scroll;
    z-index: 15;
    min-height: 100px;
    max-height: 600px;
}

.post-modal .remove-modal {
  float: right;
  cursor: pointer;
  padding: 0;
}

.post-modal .post-feed-item {
  padding-top: 20px;
}

/*Overlay*/
.overlay{
  position: fixed;
  background: rgba(0,0,0,0.5); 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}