/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 /* --- ELEMENTS --- */

 body {
   font-family: sans-serif;
   font-size: 16px;
   line-height: 1.1666666666666;
   background: #d4dae8;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input,
 button,
 textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 /*header and nav bar*/
 /* .header {
   background: #3B5998;
   padding-top: 10px;
 }

 .header-logo {
   float: left;
   margin-left: 20px;
   color: white;
   font-size: 30px;
   font: klavika;
   font-weight: 500;
 }

 .header-list {
   float: right;
   margin-top: 7px;
   color: white;
   margin-right: 10px;
 }

 .header-list li {
   float: left;
   margin-right: 10px;
 }

 .logout {
   background: #3b5998;
   color: white;
   padding: 3px 4px;
   border-radius: 8%;
 }
 */
