// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-profile {
  width: 900px;
  margin: 0 auto;
}

.content-profile-sidebar {
  float: left;
  margin-right: 50px;
  width: 200px;
}

.content-profile-sidebar h1{
  text-align: left;
  float: left;
}

.content-profile-main {
  border: solid 2px #eee;
  width: 650px;
  float: right;
}

.home {
  font-size: 14px;
  width: 50px;
  margin-right: 110px;
}

.profile {
  font-size: 14px;
  width: 50px;
  margin-right: 110px;
}

.account {
  font-size: 14px;
  margin-right: 70px;
}


.wall label {
  padding-top: 50px;
}

#posts {
  background: white;
}

.friend-requests {
  border: solid 2px black;
}

.content-search input {
  background: white;
  border: solid 1px black;
  border-radius: 8%;
}
